body{
    background-color: rgb(56, 56, 56);
    color: azure;
}
header{
    background: url('images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 400px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
header #header-text{
    background-color: black;
    text-align: right;
    padding: 2%;
    padding-top: 15%;
    padding-right: 5%;
    opacity: 0.5;
}
    header p{
        font-size: 25px;
    }
nav{
    background-color: rgba(0, 0, 0, 0.275);
    margin-top: 20px;
    border-radius: 10px;
}
    nav ul li{
        margin: 20px;
    }
    nav ul li a{
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 0, 230);
        border: 2px solid rgb(255, 0, 230);
        border-radius: 5px;
        text-decoration: none;
    }
    nav ul li a:hover{
        border: 2px solid cyan;
        color: cyan;
        transition:0.5s;
    }