body{
    background-color: rgb(56, 56, 56);
    color: azure;
}
header{
    background: url('images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 400px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
header #header-text{
    background-color: black;
    text-align: right;
    padding: 2%;
    padding-top: 15%;
    padding-right: 5%;
    opacity: 0.5;
}
    header p{
        font-size: 25px;
    }
nav{
    background-color: rgba(0, 0, 0, 0.275);
    margin-top: 20px;
    border-radius: 10px;
}
    nav ul li{
        margin: 20px;
    }
    nav ul li a{
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 0, 230);
        border: 2px solid rgb(255, 0, 230);
        border-radius: 5px;
        text-decoration: none;
    }
    nav ul li a:hover{
        border: 2px solid cyan;
        color: cyan;
        transition:0.5s;
    }
	.bemutatkozas{
        background-color: black;
        margin-top: 2rem;
        opacity: 0.7;
        padding: 2rem;
    }
        #portfolio-kep{
            width: 150px;
            height: 200px;
            margin: 10px;
            border-radius: 50%;
            float: left;
            position:relative;
        }
.social{
    background: url('images/social_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
    .social h1{
        font-size: 56px;
    }
.social:hover{
}
    #social-icons-block{
    }
    #social-icons-block ul{
    }
    #social-icons-block ul li{
        float: left;
        list-style: none;
    }
    #social-icons-block img{
        transition: 0.5s ease;
        filter: blur(5px);
    }
    #social-icons-block img:hover{
        filter: blur(0px);
    }
footer{
    background-color: azure;
    color: black;
    margin-top: 2rem;
    padding: 10px;
    text-align: center;
    text-decoration: overline;
    font-weight: bold;
}